{% extends 'base.html' %}

{% block content %}

{% if error %}
  {{ error }}
  <br>
  <br>
{% endif %}

<h1>Sign Up!</h1>

<form class="" action="{% url 'signup' %}" method="post">
  {% csrf_token %}
  Pseudo:
  <br/>
  <input type="text" name="username" value="" />
  <br />
  Mot de passe:
  <br />
  <input type="password" name="password1" value="" />
  <br />
  Confirmation:
  <br />
  <input type="password" name="password2" value="" />
  <br />
  <br />
  <input type="submit" class="btn btn-primary" value="Inscription">
</form>

{% endblock %}
